body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

input {
  padding: 8px;
  margin: 5px;
}
